<div>
  <strong><%= ClientBalance.human_attribute_name('balance') %></strong>:
  <span id="client_balance"></span>
</div>
<div class="promotion-details">
  <strong class="promotion-details"><%= Promotion.human_attribute_name("points_to_exchange") %></strong>:
  <span class="promotion-details" id="promotion_points"></span>
</div>
<div class="exchange-box">
  <div class="alert alert-success">
  <%= t('sigma.infos.ready_to_exchange') %> 
  </div>
  <%= form_tag('/exchanges') do %>
    <%= hidden_field_tag :exchange_client_cpf %>
    <%= hidden_field_tag :exchange_promotion_id %>
    <%= submit_tag(t('sigma.buttons.exchange'),:class => 'btn btn-primary', :id => 'exchange-button', data: { confirm: t('sigma.dialogs.are_you_sure') }) %>
  <% end %>
</div>
