<%= form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', :resource => t('sigma.points.title'), :count => @point.errors.count) %></h2>
      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf, "CPF" %>
    <%= f.text_field :cpf, :maxlength => 11 %>
  </div>
  
  <div class="field">
    <%= f.label :promotion_id, Promotion.model_name.human %>
    <%= f.collection_select(:promotion_id, @company.promotions, :id, :name, :prompt => false) %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>
  
  <div class="actions">
    <%= f.submit t('.assign') %> 
  </div>
<% end %>
