<%= form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>
      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf, "CPF" %><br />
    <%= f.text_field :cpf, :maxlength => 11 %>
  </div>
  
  <div class="field">
    <%= f.label :promotion_id, "Promoção" %><br />
    <%= f.collection_select(:promotion_id, @company.promotions, :id, :name, :prompt => false) %>
  </div>

  <div class="field">
    <%= f.label :value, "Valor" %><br />
    <%= f.number_field :value %>
  </div>
  
  <div class="field">
    <%= label_tag :saldo , "Saldo do Cliente"%> <span id="balance"></span>
    <%= label_tag :client_balance %><br /><span id="client_balance"></span>
  </div>

  <div class="actions">
    <%= f.submit "Atribuir" %>
  </div>
<% end %>
<div id="exchange">
  <%= form_for(Exchange.new) do |f| %>
  <%= f.hidden_field :promotion_id %>
  <%= f.hidden_field :client_id %>
  <%= f.submit "Trocar" %>
  <% end %>
</div>