<h2><%= t('.title') %></h2>

<p>
<b><%= t('.client_name') %>:</b>
<%= @point.client.try(:name) %>
</p>

<p>
<b><%= Client.human_attribute_name('cpf') %>:</b>
<%= @point.client %>
</p>

<% if @temp_password %>
  <p>
  <b><%= t('.temporary_password') %></b>:
  <%= @temp_password %>
  <span class="alert alert-info">
    <%= t('.temporary_password_hint') %>
  </span>
  </p>
<% end %>

<p>
<b><%= t('points.other') %>:</b>
<%= @point.points %>
</p>

<p>
  <b><%= t('.new_balance') %></b>:
  <%= @balance.balance %> / <%= @point.promotion.points_to_exchange %>
</p>

<p>
<b><%= Promotion.model_name.human %></b>:
<%= @point.promotion %>
</p>
<%= link_to t('sigma.buttons.back'), new_point_path, class: 'btn' %>
