<%= form_for([@company, @employee]) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('employees.errors.explanation') %></h2>
      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :user do |user| %>
    <%= render 'users_form', f: user, roles: @roles %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
