<h1><%= t('.title') %></h1>

<table class="table">
  <tr>
    <th><%= User.human_attribute_name(:name) %></th>
    <th><%= Role.model_name.human %></th>
    <th><%= User.human_attribute_name(:login) %></th>
    <th><%= User.human_attribute_name(:email) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.user.name %></td>
    <td><%= employee.user.role.human_name %></td>
    <td><%= employee.user.username %></td>
    <td><%= employee.user.email %></td>
    <td><%= link_to t('sigma.buttons.show'), employee, class: 'btn btn-primary' %></td>
    <td><%= link_to t('sigma.buttons.edit'), edit_company_employee_path(employee.company, employee), class: 'btn' %></td>
    <td><%= link_to t('sigma.buttons.destroy'), [@company,employee], method: :delete, data: { confirm: t('sigma.dialogs.are_you_sure') }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_company_employee_path(@company), class: 'btn' %>
