<h2><%= I18n.t('sigma.points_by_promotion') %></h2>

<% @points.group_by(&:promotion).each do |promotion, points| %>
  <h3><%= promotion.name %></h3>

  <p><%= I18n.l(promotion.ending_date, :format => :long) %></p>
  <div class="progress progress-striped">
    <div class="bar points-bar" style="width: <%= points_percentage( points.sum{|x| x.points.to_i }, promotion.points_to_exchange) %>;">
      <%= points.sum{|x| x.points.to_i } %> / <%= promotion.points_to_exchange %>
    </div>
  </div>
<% end %>
