<h2><%= I18n.t('sigma.points_by_promotion') %></h2>

<% @points.group_by(&:promotion).each do |promotion, points| %>
  <h3><%= promotion.name %></h3>

  <p><%= I18n.l(promotion.ending_date, :format => :long) %></p>
  <p>
    <%= points.sum(&:points) %> / <%= promotion.points_to_exchange %>
  </p>
<% end %>
