<blockquote style="text-align: center;">
  <p style="font-size: 2em;"><%= t('sigma.welcome.main_quote.text') %></p>
  <small><%= t('sigma.welcome.main_quote.author') %></small>
</blockquote>

<div id="carousel-sigma" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag "/assets/multidao_2.jpg", :alt => "Pessoas" %>
      <div class="carousel-caption">
        <h4>Fidelidade</h4>
        <p>Faça da experiência do cliente, um atrativo para seu retorno.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "/assets/comida_1.jpg", :alt => "Camarão" %>
      <div class="carousel-caption">
        <h4>Prêmios</h4>
        <p>Junte pontos – Troque prêmios!</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel-sigma" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel-sigma" data-slide="next">&rsaquo;</a>
</div>

<h2><%= t('sigma.welcome.retain_customers') %></h2>
<ul class="thumbnails">
  <li class="span4">
  <a href="/about_us" class="thumbnail">
    <%= image_tag "/assets/logo.jpg" %>
    <p>
    A Sigma tem como prioridade a união entre o cliente e a empresa.
    Saiba mais sobre nossa missão, visão e valores.
    </p>
  </a>
  </li>

  <li class="span4">
  <a href="#" class="thumbnail">
    <%= image_tag "/assets/comida_2.jpg" %>
    <p>
    Trocar pontos por prêmios. Uma vantagem para o cliente e para a empresa.
    </p>
  </a>
  </li>

  <li class="span4">
  <a href="#" class="thumbnail">
    <%= image_tag "/assets/comida_4.jpg" %>
    <p>
    Junte pontos, troque pontos. Ainda não sabe como fazer? A gente te ajuda!
    </p>
  </a>
  </li>
</ul>
