<div id="carousel-sigma" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag "assets/tree.jpg", :alt => "Tree" %>
      <div class="carousel-caption">
        <h4>Árvore</h4>
        <p>Descrição aqui</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "assets/people.jpg", :alt => "People" %>
      <div class="carousel-caption">
        <h4>Pessoas</h4>
        <p>Descrição aqui</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel-sigma" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel-sigma" data-slide="next">&rsaquo;</a>
</div>

<h2><%= t('sigma.welcome.retain_customers') %></h2>
<blockquote style="text-align: center;">
  <p style="font-size: 2em;"><%= t('sigma.welcome.main_quote.text') %></p>
  <small><%= t('sigma.welcome.main_quote.author') %></small>
</blockquote>

<ul class="thumbnails">
  <li class="span4">
  <a href="#" class="thumbnail">
    <%= image_tag "assets/tree.jpg" %>
    <p>Descrição 1</p>
  </a>
  </li>

  <li class="span4">
  <a href="#" class="thumbnail">
    <%= image_tag "assets/tree.jpg" %>
    <p>Descrição 2</p>
  </a>
  </li>

  <li class="span4">
  <a href="#" class="thumbnail">
    <%= image_tag "assets/tree.jpg" %>
    <p>Descrição 3</p>
  </a>
  </li>
</ul>
