<p id="notice"><%= notice %></p>
<p>
  <%= image_tag(@company.image.url) %>
</p>
<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @company.cnpj %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
