<p>
  <%= image_tag(@company.image.url(:medium)) %>
</p>
<p>
<b><%= Company.human_attribute_name("name") %>:</b>
  <%= @company.name %>
</p>

<p>
<b><%= Company.human_attribute_name("cnpj") %>:</b>
  <%= @company.cnpj %>
</p>

<p>
<b><%= Company.human_attribute_name("phone") %>:</b>
  <%= @company.phone %>
</p>

<p>
<b><%= Company.human_attribute_name("website") %>:</b>
  <%= @company.website %>
</p>

<p>
<b><%= Company.human_attribute_name("email") %>:</b>
  <%= @company.email %>
</p>

<%= link_to t('companies.index.employees'), company_employees_path(@company) %> |
<%= link_to t('sigma.buttons.edit'), edit_company_path(@company) %> |
<%= link_to t('sigma.buttons.back'), companies_path %>
