<%= form_for(@promotion) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :initial_date %><br />
    <%= f.date_select :initial_date %>
  </div>
  <div class="field">
    <%= f.label :ending_date %><br />
    <%= f.date_select :ending_date %>
  </div>
  <div id="selecao">
    <%=f.radio_button( :promotion_category_id, 0, :checked => true ) %>Pontos
	<%=f.radio_button( :promotion_category_id, 1 ) %>Valor
  </div>
  <div id="pontos" class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div id="valor" class="field hidden">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :points_to_exchange %><br />
    <%= f.number_field :points_to_exchange %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
