<%= form_for(@promotion) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', :count => @promotion.errors.count, :resource => @promotion.class.model_name.human) %></h2>
      <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="name" class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div id="initial_date" class="field">
    <%= f.label :initial_date %>
    <%= f.date_select :initial_date %>
  </div>
  <div id="ending_date" class="field">
    <%= f.label :ending_date %>
    <%= f.date_select :ending_date, :default => 60.days.from_now %>
  </div>

  <div id="promotion_category" id="selecao">
    <div class="alert alert-info">
      <strong>Promoção por pontos:</strong> A cada nova compra, o cliente ganhará determinada quantidade
      de pontos, independente do valor da compra. <br />
      <strong>Promoção por valor:</strong> A cada nova compra, a pontuação será calculada com base no
      total gasto pelo cliente. Este é o modelo mais indicado.
    </div>
    <label>
      <%= f.radio_button(:promotion_category_id, PromotionCategory.by_points.id, :checked => true) %>
      <%= t('promotions.form.points') %>
    </label>
    <label>
      <%= f.radio_button(:promotion_category_id, PromotionCategory.by_value.id) %>
      <%= t('promotions.form.value') %>
    </label>
  </div>

  <div id="points" class="field">
    <%= f.label :points %>
    <%= f.number_field :points %>
  </div>
  <div id="value" class="field hidden">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <div class="alert alert-info">
      <%= t('promotions.points_to_exchange') %>
    </div>
    <%= f.label :points_to_exchange %>
    <%= f.number_field :points_to_exchange %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
