<h1>Listing promotions</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Initial date</th>
    <th>Ending date</th>
    <th>Points</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promotions.each do |promotion| %>
  <tr>
    <td><%= link_to promotion.name, promotion %></td>
    <td><%= l(promotion.initial_date) %></td>
    <td><%= l(promotion.ending_date) %></td>
    <td><%= promotion.points %></td>
    <td><%= promotion.value %></td>
    <td><%= link_to t('sigma.buttons.show'), promotion, class: 'btn btn-primary' %></td>

    <% if can? :update, promotion %>
      <td>
        <%= link_to t('sigma.buttons.edit'), edit_promotion_path(promotion), class: 'btn' %>
      </td>
      <td>
        <%= link_to t('sigma.buttons.destroy'), promotion, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promotion', new_promotion_path %>
