<h1><%= t('sigma.promotions.title') %></h1>

<table class="table">
  <tr>
    <th><%= t(activerecord.attributes.promotion.name) %></th>
    <th><%= t(activerecord.attributes.promotion.initial_date) %></th>
    <th><%= t(activerecord.attributes.promotion.ending_date) %></th>
    <th><%= t(activerecord.attributes.promotion.points) %></th>
    <th><%= t(activerecord.attributes.promotion.value) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promotions.each do |promotion| %>
  <tr>
    <td><%= link_to promotion.name, promotion %></td>
    <td><%= l(promotion.initial_date) %></td>
    <td><%= l(promotion.ending_date) %></td>
    <td><%= promotion.points %></td>
    <td><%= promotion.value %></td>
    <td><%= link_to t('sigma.buttons.show'), promotion, class: 'btn btn-primary' %></td>

    <% if can? :update, promotion %>
      <td>
        <%= link_to t('sigma.buttons.edit'), edit_promotion_path(promotion), class: 'btn' %>
      </td>
      <td>
        <%= link_to t('sigma.buttons.destroy'), promotion, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to <%= t(sigma.promotions.new) %>, new_promotion_path %>
