<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @promotion.image.url %>
</p>

<p>
  <b><%= t(activerecord.attributes.promotion.name) %>:</b>
  <%= @promotion.name %>
</p>

<p>
  <b><%= t(activerecord.attributes.promotion.initial_date) %>:</b>
  <%= @promotion.initial_date %>
</p>

<p>
  <b><%= t(activerecord.attributes.promotion.ending_date) %>:</b>
  <%= @promotion.ending_date %>
</p>

<p>
  <b><%= t(activerecord.attributes.promotion.points) %>:</b>
  <%= @promotion.points %>
</p>

<p>
  <b><%= t(activerecord.attributes.promotion.value) %>:</b>
  <%= @promotion.value %>
</p>

<p>
  <b><%= t(activerecord.attributes.company.name) %>:</b>
  <%= @promotion.company %>
</p>


<%= link_to t('sigma.buttons.edit'), edit_promotion_path(@promotion) %> |
<%= link_to t('sigma.buttons.back'), promotions_path %>
