<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @promotion.image.url %>
</p>

<p>
  <b><%= Promotion.human_attribute_name('name') %>:</b>
  <%= @promotion.name %>
</p>

<p>
  <b><%= Promotion.human_attribute_name('initial_date') %>:</b>
  <%= @promotion.initial_date %>
</p>

<p>
  <b><%= Promotion.human_attribute_name('ending_date') %>:</b>
  <%= @promotion.ending_date %>
</p>

<p>
  <b><%= Promotion.human_attribute_name('points') %>:</b>
  <%= @promotion.points %>
</p>

<p>
  <b><%= Promotion.human_attribute_name('value') %>:</b>
  <%= @promotion.value %>
</p>

<p>
  <b><%= Company.model_name.human %>:</b>
  <%= @promotion.company %>
</p>


<%= link_to t('sigma.buttons.edit'), edit_promotion_path(@promotion) %> |
<%= link_to t('sigma.buttons.back'), promotions_path %>
