<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @promotion.image.url %>
</p>

<p>
  <b>Name:</b>
  <%= @promotion.name %>
</p>

<p>
  <b>Initial date:</b>
  <%= @promotion.initial_date %>
</p>

<p>
  <b>Ending date:</b>
  <%= @promotion.ending_date %>
</p>

<p>
  <b>Points:</b>
  <%= @promotion.points %>
</p>

<p>
  <b>Value:</b>
  <%= @promotion.value %>
</p>

<p>
  <b>Company:</b>
  <%= @promotion.company %>
</p>


<%= link_to t('sigma.buttons.edit'), edit_promotion_path(@promotion) %> |
<%= link_to t('sigma.buttons.back'), promotions_path %>
