<!DOCTYPE html>
<html>
  <head>
    <title>Sigma</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="<%= current_page_class %> <%= params[:controller] %>">
    <div class="container-fluid">
      <div id="content" class="centralized">
        <div class="top-bar">
          <% if user_signed_in? %>
            <%= t('devise.sessions.signed_as') %> <strong><%= current_user.username || current_user.email %></strong>.
            <%= link_to t('devise.buttons.edit_profile'), edit_user_registration_path %> |
            <%= link_to t('devise.buttons.logout'), destroy_user_session_path, method: :delete %>
          <% end %>
        </div>

        <h1 id="logo"><a href="/"><%= image_tag '/assets/logo.jpg', :alt => 'Sigma Fidelidade' %></a></h1>

        <%= menu_for_user(current_user || User.new) %>

        <div id="content-box" class="centralized">
          <%= content_tag(:p, notice, :class => 'alert alert-success notice') if notice.present? %>
          <%= content_tag(:p, alert , :class => 'alert alert-warn') if alert.present? %>
          <%= yield %>
        </div>

        <div class="footer">
          <address>
            <%= t('sigma.footer.address') %>
          </address>
        </div>
      </div>
    </div>
  <script src="http://ux.sigmafidelidade.com.br/heatmap.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

        var trackClick = function(e){
          var x = e.pageX - this.offsetLeft;
          var y = e.pageY - this.offsetTop;
          var path = window.location.pathname;
          var url = "http://ux.sigmafidelidade.com.br/click?x=" + x + "&y=" + y + "&path=" + path;
          var img = new Image();
          img.src = url;
          };

        <% if Rails.env.production? %>
          $("#content").click(trackClick);
          <% if params[:ux_padawan] %>
            var area = h337.create({"element":document.getElementById("content"), "radius":25, "visible":true});
            var displayHeatMap = function(data){
              var count = (data[0] ? (data[0]['count'] + 2) : 1);
              var report = { max: count, data: data };
              area.store.setDataSet(report);
            };
            $.get("http://ux.sigmafidelidade.com.br/report.json?path="+window.location.pathname,displayHeatMap);
          <% end %>
        <% end %>
    });
  </script>
  </body>
</html>
