<!DOCTYPE html>
<html>
  <head>
    <title>Sigma</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="<%= current_page_class %> <%= params[:controller] %>">
    <div class="container-fluid">
      <div id="content" class="row-fluid centralized">
        <h1 id="logo"><a href="/"><%= image_tag '/assets/logo.jpg', :alt => 'Sigma Fidelidade' %></a></h1>
        <div class="top-bar">
          <% if user_signed_in? %>
            <%= t('devise.sessions.signed_as') %> <strong><%= current_user.username || current_user.email %></strong>.
            <%= link_to t('devise.buttons.edit_profile'), edit_user_registration_path %> |
            <%= link_to t('devise.buttons.logout'), destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
        <%= menu_for_user(current_user || User.new) %>
        <div id="content-box" class="centralized">
          <%= content_tag(:p, notice, :class => 'alert alert-success notice') if notice.present? %>
          <%= content_tag(:p, alert , :class => 'alert alert-warn') if alert.present? %>
          <%= yield %>
        </div>
        <div class="footer">
          <address>
            <%= t('sigma.footer.address') %>
          </address>
        </div>
      </div>
    </div>
  </body>
</html>
